{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>

  <body>
    {% block sidebar %}
    {%endblock%}
    
    {% block navbar %}
    {% endblock %}

    {% block content %}<!--- CONTENIDO DE CADA PÁGINA --> 
    {% endblock %}

    {% block footer %} 
    {% endblock %} 
  
    {% block copyright %}
    {% endblock %} 

</body>
</html>