{% extends "base_general.html" %}

{%block content%}
{% load static %}

        
            <!-- Website Title -->
            <title> Paráfrasis </title>
            
            <!-- Styles -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
            
            <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        </head>
            <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
                
                    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                            <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                    <a class="nav-link page-scroll" href="#header"> HOME <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link page-scroll" href="#description"> ACERCA DE </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link page-scroll" href="#features">PROYECTO Y PUBLICACIONES</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link page-scroll" href="#features">VOLVER A JUGAR </a>
                                </li>
            
                            </ul>
                        </div>
                    </div> <!-- end of container -->
                </nav> <!-- end of navbar -->
                <!-- end of navigation -->
            
        
            </nav>
<h1 id="listo">¡Listo!</h1>

<h2 id="gracias">¡Gracias por participar!</h2>

{% endblock %}