{% extends "base_general.html" %}
{%block content%}
{% load static %}
<html lang="es-mx">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  

    <!-- Website Title -->
    <title> Paráfrasis </title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                            <a class="nav-link page-scroll" href="https://vivianaberron.github.io/Parafrasis/"> HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="https://vivianaberron.github.io/Parafrasis/"> ACERCA DE </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="https://vivianaberron.github.io/Parafrasis/">PROYECTO Y PUBLICACIONES</a>
                        </li>
    
                    </ul>
                </div>
            </div> <!-- end of container -->
        </nav> <!-- end of navbar -->
        <!-- end of navigation -->
    

    </nav>
<h1>¡Juguemos!</h1>
<h4> Ayúdanos a crear un corpus. </h4>

<p> Selecciona un tema y posteriormente escribe en el cuadro de texto un párrafo, utilizando las palabras que estén entre paréntesis. </p>

{%if tema%}
<h2 id="form-1">Tema: {{tema}}</h2>
{%endif%}

<h2>
{%if nivel%}
Nivel {{nivel}}
{%endif%}
</h2>

<h3>

{%for p in palabras%}
    ({{p}})
{%endfor%}

</h3>

<h3>
{%for p in prueba%}
    ({{p}})
{%endfor%}

{%for n in nivel2%}
    <h3>
    {%for nn in n%}
        ({{nn}})
    {%endfor%}
    </h3>
{%endfor%}



</h3>

<form action = "" method="post">
    <table>
        {{forma.as_table}}
        <tr>
            <td>&nbsp;</td>
            <td><input class="btn-solid-lg" type="submit" value="Enviar"></td>
        </tr>
    </table>
    {% csrf_token %}    
</form>



{%if submitted %}

            <p>{{texto_jugador}}</p>


{%endif%}

{% endblock %}